.toolsContainer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  background: #f5f5f5;
  --ifm-hero-background-color: #383838;
  padding-top: 20px;
}


html[data-theme='dark'] {
  .toolsContainer {
    background: #383838;
    --ifm-hero-background-color: #383838;
  }
}

.toolsHeader {
  font-size: 2.1rem;
  align-items: center;
}

.toolsDescription {
  color: hsl(263, 68%, 66%);
  font-size: 0.85rem;
  align-items: center;
}

.imageContainer {
  display: flex;
  flex-wrap: wrap;
  padding: 0 40px;
  justify-content: space-evenly;
  
  /* display: grid;
  grid-template-columns: repeat(4, 1fr); */
  grid-gap: 1rem;
  .imageItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    /* background: #fff; */
    /* border-radius: 10px; */
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    /* transition: 0.3s; */
    cursor: pointer;
   
  }
  .small {
    width: 64px;
    height: 64px;
    margin: 1em;
    background-position: cover;
  }

  .big {
    width: 160px;
    height: 80px;
    margin: 1em;
  }
}